body {
    display: flex;
    background-color: white;
    background-image: url("imageFond.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 5px 20px black;
}
  
header p a{
    border: solid;
    border-color: #5379B0;
    color: black;
    font-size: 23px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    transition-duration: 0.5s;
}

header p a+a{
    border-color: #1BBBC6;
}

header p a+a+a{
    border-color: #5379B0;
}

a {
    text-decoration: none;
}

header a:hover {
    background-color: transparent;
    color: #5379B0;
    border-radius: 10px;
}

header a+a:hover {
    color: #1BBBC6;
}

header a+a+a:hover {
    color: #5379B0;
}